.hidden {
    opacity: 0 !important; 
    z-index:-100000000 !important;
} 
 

#consent-popup {
    position:fixed;
    background-color: #0a0a0a;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    transition: opacity 0.8s ease;
    z-index:100000000;
}

/* #acceptAll {
    padding: 1rem;
    color: #000 !important;
    background-color: #ff0;
    text-decoration: none;
    font-weight: 800;
    border-radius: 2px;
    min-width: 7rem;
    text-align: center;

} */

#acceptSelected, #acceptAll, #denyAll {
    padding: 1rem;
    background-color: #eaeaea;
    color: #111 !important;
    text-decoration: none;
    font-weight: 800;
    border-radius: 2px;
    min-width: 7rem;
    text-align: center;
    margin-left: 1rem;

}

